<div class="contact">
	<div class="container">
		<div class="row margin-top">
      <h3>The Team</h4>
      <ul class='team'>
        <li>
          <%= link_to image_tag('team/mike.png'), 'http://mikesilvis.com' %>
          <h5>Mike Silvis</h5>
          <small>
            <%= mail_to 'mike@getyab.com' %>
          </small>
        </li>
        <li>
          <%= link_to image_tag('team/alex.png'), '#' %>
          <h5>Alex Leventer</h5>
          <small>
            <%= mail_to 'alex@getyab.com' %>
          </small>
        </li>
        <li>
          <%= link_to image_tag('team/koji.png'), '#' %>
          <h5>Koji Moy</h5>
          <small>
            <%= mail_to 'koji@getyab.com' %>
          </small>
        </li>
      </ul>
		</div><!-- /.row -->

	</div><!-- /.container -->
</div>
